.container {
    margin-top: 6rem;
    width: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.img {
    width: 4rem;
    height: 4rem;
}

h1 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}
