.social-container {
  width: 90%;
  margin: auto;
  padding-top: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: .5rem;
  color: #fff;
}

.header {
  background-color: #003459;
  color: white;
  padding-bottom: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.broken-image {
  width: 12rem;
  height: 12rem;
  border-radius: 5px;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #adb5bd;
}


.metadata {
  display: flex;
  gap: .5rem;
  font-size: .8rem;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  background: #0a9396;
}