body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e2eafc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a {
  text-decoration: none;
  color: #fff;
}

.social-container {
  width: 90%;
  margin: auto;
  padding-top: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: .5rem;
  color: #fff;
}

.header {
  background-color: #003459;
  color: white;
  padding-bottom: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}


.metadata {
  display: flex;
  gap: .5rem;
  font-size: .8rem;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  background: #0a9396;
}

.pick-file-container {
  position: relative;
  background-color: #fff;
  width: 75%;
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  padding: .8rem;
}

.dnone {
  display: none;
}

.upperCase {
  font-size: .8rem;
  color: #000;
  text-transform: uppercase;
}


.music-container {
  width: 75%;
  background-color: #fff;
  border-radius: 5px;
  padding: .8rem;
  display: flex;
  gap: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


.broken-image {
  width: 12rem;
  height: 12rem;
  border-radius: 5px;
  background-color: #ced4da;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #495057;
}


.main-container {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.img {
  width: 4rem;
  height: 4rem;
}

h1 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}


@media only screen and (max-width: 780px) {
  .pick-file-container {
    flex-direction: column;
    row-gap: .5rem;
  }

  .main-container {
    margin-top: 2rem;
  }

}

@media only screen and (max-width: 670px) {
  
  .main-container h1 {
    font-size: 1.2rem;
  }

  .main-container svg {
    font-size: 2.5rem;
  }

  .music-container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .music-container div {
    align-self: center;
  }

}

@media only screen and (max-width: 670px) {
  
  .main-container h1 {
    font-size: 1.2rem;
  }

  .main-container svg {
    font-size: 2.5rem;
  }

}

@media only screen and (max-width: 570px) {

  .pick-file-container span, .pick-file-container button {
    font-size: .7rem;
  }

}

@media only screen and (max-width: 500px) {

  .pick-file-container {
    width: 80%;
  }

  .main-container {
    gap: 1rem;
  }
    
  .main-container h1 {
    font-size: 1rem;
  }

  .main-container svg {
    font-size: 2rem;
  }


}


@media only screen and (max-width:400px) {

  .main-container {
    flex-direction: column;
    gap: .5rem;
    margin-top: 1rem;
  }

}